<!doctype html>
<html>
<head>
<title>nlp69.</title>
</head>
<body>
<form action="/filter_by_name" method="POST">
    <input type="text" name="name" placeholder="name">
</form>
<form action="/filter_by_aliase" method="POST">
    <input type="text" name="aliase" placeholder="aliase">
</form>
<form action="/filter_by_tag" method="POST">
    <input type="text" name="tag" placeholder="tag">
</form>
<form action="/clear" method="POST">
    <input type="submit" value="検索条件をクリア" placeholder="clear">
</form>
<table>
    <tr>
      <th>name</th>
      <th>area</th>
      <th>tags</th>
      <th>aliases</th>
    </tr>
    {% for doc in documents %}
        <tr>
            <td>{{doc.name}}</td>
            <td>{{doc.area}}</td>
            <td>
              {% for tag in doc.tags %}
                <span>{{tag.value}}</span>
              {% endfor %}
            </td>
            <td>
              {% for aliase in doc.aliases %}
                <span>{{aliase.name}}</span>
              {% endfor %}
            </td>
        </tr>
    {% endfor %}    
</table>
</body>
</html>

<style>
table tr{
  border-bottom: solid 1px #eee;
}

table th,table td{
  padding: 10px 10px;
}
span{
  margin: 2px;
  padding: 5px;
  background-color: antiquewhite;
}
</style>